body {
    background:none repeat scroll 0 0 #232323;
    font-size:13px;
}

.wrapper{ overflow: hidden;}

/*override bootstrap*/
.btn {    border-radius:2px;    font-size:12px;    padding:5px 9px;}
th {    border-radius:2px;}
.form-control {    height:29px;    border-radius:2px;    box-shadow:none;}
.fixed-table-pagination .pagination a {    padding:4px 8px;}
.panel-default > .panel-heading{ background-color:#DFE7EF }

/* Columns and Colapse buttons */
#col-left {    position:absolute;    top:0;    left:0;    margin-top:50px;}
#col-left,.top-bar>:first-child {    width:220px;}
#col-right {    margin-left:220px;    background:#D9D9D9 url("gray_jean.png");    min-height:585px;    padding:0 0 30px 15px;   padding-top:70px;}
@media screen and (max-width:1200px) {    #col-right {        overflow:hidden;    } }
#col-left,#col-right,ul.main-menu>li>a span {
    -webkit-transition-property:all;    -moz-transition-property:all;    -o-transition-property:all;    transition-property:all;
    -webkit-transition-duration:0.5s;    -moz-transition-duration:0.5s;    -o-transition-duration:0.5s;    transition-duration:0.5s;
}
@media screen and (max-width:1200px) {
    #col-right {        overflow:hidden;        margin-left:0;    }
    #col-left {        left:-220px;    }
}
.btn-nav-sidebar-minified i,.btn-off-canvas i {    font-size:24px;    line-height:1;   vertical-align:middle;}
.btn-nav-sidebar-minified,.btn-off-canvas {    padding:9px 18px;}
@media screen and (min-width:1200px) {     .btn-off-canvas {        display:none;    }}
@media screen and (max-width:1200px) {    .btn-nav-sidebar-minified {        display:none;    }}
.off-canvas-active #col-left {    left:0;}
.off-canvas-active #col-right {    margin-left:220px;    margin-right:-220px;}

/* Top*/
.logo {    text-align:center;    padding:11px 0;    width:145px;    font-size:16px;}
.top-bar {    margin-left:-15px;    margin-right:-15px;    min-height:47px;    padding:0 15px;    background-color:#fff;    border-bottom:1px solid #ccc;}
.top-bar>div {    display:inline-block;    vertical-align:middle;    float:left;}


/*Nav*/
.main-nav {    position:absolute;    top:0;    left:0;    margin-bottom:70px;    z-index:1;    width:100%;}
.main-nav h3 {     margin:30px 10px 15px;    padding-bottom:12px;    font-size:1.3em;    color:#6a6a6a;    border-bottom:1px solid #3d3d3d;}
ul.main-menu {    padding-left:0;    list-style-type:none;    margin-bottom:0;}
ul.main-menu li a {    display:block;    position:relative;    padding:12px 0 12px 15px;    font-size:13px;    color:#dadada;}
ul.main-menu li a:hover,
ul.main-menu li a:focus { text-decoration:none;    color:#fff;    background-color:#2e2e2e;}
ul.main-menu li.active>a {    color:#fff;    background-color:#0f0f0f;}
ul.main-menu li.active>a.submenu-toggle {    background-color:transparent;}
ul.main-menu li i {    font-size:18px;}
ul.main-menu li .text {    padding-left:10px;}
ul.main-menu li.has-submenu {    position:relative;}
ul.main-menu li.has-submenu>a:after {    font-family:"Glyphicons Halflings";    font-size:11px;    width:10px;    position:absolute;    right:15px;    top:18px; text-shadow:none;    content:'\e113';}
ul.main-menu li.has-submenu>a.collapsed:after {    content:'\e114';}
ul.main-menu li.has-submenu li.has-submenu>a:after {    top:11px;}
ul.main-menu .sub-menu {    position:relative;    padding-left:0;}
ul.main-menu .sub-menu li a {    background-color:#131313;}
ul.main-menu .sub-menu li a:hover,ul.main-menu .sub-menu li a:focus {    background-color:#2e2e2e;}
ul.main-menu .sub-menu li a .badge {    position:absolute;    right:15px;}
ul.main-menu .sub-menu li .text {    padding-left:27px;}
ul.main-menu .sub-menu li.active a {    background-color:#000;}
ul.main-menu .sub-menu li .sub-menu .text {    padding-left:50px;}

.main-nav-minified #col-left {    width:55px;    top:35px;}
.main-nav-minified #col-left ul.main-menu>li:hover>ul.sub-menu,
.main-nav-minified #col-left ul.sub-menu>li:hover>ul.sub-menu {    display:block !important;    min-width:200px;    position:absolute;    top:0;    margin-left:55px;   z-index:9999;}
.main-nav-minified #col-left ul.main-menu>li.has-submenu li.has-submenu>a:after {    font-family:"Glyphicons Halflings";    font-size:14px;    content:'\e082';    display:block;}
.main-nav-minified #col-left ul.sub-menu>li:hover>ul.sub-menu {    margin-left:200px;}
.main-nav-minified #col-left ul.main-menu li i {    font-size:20px;}
.main-nav-minified #col-left ul.main-menu li>a:hover {    background-color:#1e1e1e;}
.main-nav-minified #col-right {    margin-left:55px;}
@media screen and (max-width:1200px) {    .main-nav-minified #col-right {        margin-left:0;    }}

.main-nav-minified .main-nav h3,
.main-nav-minified ul.main-menu>li>a span,
.main-nav-minified ul.main-menu li.has-submenu>a:after,
.main-nav-minified #col-left .main-menu>li.has-submenu.active .sub-menu,
.main-nav-minified #col-left .widget {    display:none;}
.main-nav-minified ul.main-menu>li>a {    padding:12px;    text-align:center;}
.main-nav-minified ul.main-menu ul.sub-menu li .text {    padding-left:0;}


.panel-title .glyphicon{ font-size: 15px; margin-right: 10px;}
.fixed-table-toolbar .columns{ margin:15px 20px 0; }
.fixed-table-pagination ul.pagination{ margin:5px 0;}


@media (min-width: 1200px) {
    .pull-left-lg {
        float: left ;
    }
    .pull-right-lg {
        float: right;
    }
}

.rte{ height: 300px;}