Options +FollowSymlinks -Indexes
RewriteEngine On
RewriteCond %{QUERY_STRING} ^(width=[0-9]+|height=[0-9]+)$
RewriteRule ^(.*\.(jpg|png|jpeg|gif))$ ../inc/image.php?file=$1&%0 [NC]
RewriteRule ^(.*\.(jpg|png|jpeg|gif)),(width|height)=([0-9]+)$ ../inc/image.php?file=$1&$3=$4 [NC,L]
RewriteRule ^(.*\.(jpg|png|jpeg|gif))?(width|height)=([0-9]+)$ ../inc/image.php?file=$1&$3=$4 [NC,L]
RewriteRule ^(.*\.(jpg|png|jpeg|gif))-(width|height)-([0-9]+)$ ../inc/image.php?file=$1&$3=$4 [NC,L]

ErrorDocument 403 /photos/index.php